*{
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

::selection{
  background: #FFC306E0;
  color: #018029;
}

body{
  overflow: hidden;
}

#main_div{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #535AA1;
}

.form{
  width: 300px;
  height: 300px;
  background-color: #33CC77;
  color: white;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  min-height: 300px;
  
}

.form * {
  margin-bottom: 15px;
}

input[type="text"]{
  background: #33CC77;
  color: #fff;
  font-size: 15px;
  border: none;
  border-bottom: 1px solid #D2D3DA;
}

input:focus{
  outline: none;
}

#btn{
  background: #C25FC6;
  color: #212121;
  border: 2px solid #383238;
  font-size: 15px;
  padding: 3px;
}

#btn:focus{
  outline: none;
}

#btn:hover{
  background: #212121;
  color: #C25FC6;
  border: 2px solid #C25FC6;
}


#message{
  display: none;
  width: 225px;
  margin-bottom: 30px;
  padding: 5px 5px;
  border-radius: 7px;
  background-image: linear-gradient(to left,#FF0909,#EA05FF);
  color: #FFFF95;
  font-size: 1em;
}